{% extends 'base.html.twig' %}

{% block title %}{{'Edit Scorecard'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Scorecard'|trans}}</h1>

    {{ include('scorecard/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('scorecard_index') }}">{{'back to list'|trans}}</a>

    {{ include('scorecard/_delete_form.html.twig') }}
{% endblock %}
