{% extends 'base.html.twig' %}

{% block title %}Scorecard index{% endblock %}

{% block body %}
    <h1>Scorecard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Compteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scorecard in scorecards %}
            <tr>
                <td>{{ scorecard.id }}</td>
                <td>{{ scorecard.label }}</td>
                <td>{{ scorecard.counter }}</td>
                <td>
                    <a href="{{ path('scorecard_show', {'id': scorecard.id}) }}">show</a>
                    <a href="{{ path('scorecard_edit', {'id': scorecard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scorecard_new') }}">Create new</a>
{% endblock %}
