{% extends 'base.html.twig' %}

{% block title %}{{'New Scorecard'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Scorecard'|trans}}</h1>

    {{ include('scorecard/_form.html.twig') }}

    <a href="{{ path('scorecard_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
