{% extends 'base.html.twig' %}

{% block title %}{{'Edit Counter'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Counter'|trans}}</h1>

    {{ include('counter/_form.html.twig', {'button_label': 'Update'|trans}) }}

    <a href="{{ path('counter_index') }}">{{'back to list'|trans}}</a>

    {{ include('counter/_delete_form.html.twig') }}
{% endblock %}
