{% extends 'base.html.twig' %}

{% block title %}{{'Counter index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Counter index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Label'|trans}}</th>
                <th>{{'Coefficient'|trans}}</th>
                <th>{{'actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for counter in counters %}
            <tr>
                <td>{{ counter.id }}</td>
                <td>{{ counter.label }}</td>
                <td>{{ counter.coefficient }}</td>
                <td>
                    <a href="{{ path('counter_show', {'id': counter.id}) }}">{{'show'|trans}}</a>
                    <a href="{{ path('counter_edit', {'id': counter.id}) }}">{{'edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('counter_new') }}">{{'Create new'|trans}}</a>
{% endblock %}
