{% extends 'base.html.twig' %}

{% block title %}{{'New Evaluation'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Evaluation'|trans}}</h1>

    {{ include('evaluation/_form.html.twig') }}

    <a href="{{ path('evaluation_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
