{% extends 'base.html.twig' %}

{% block title %}Schoolsubjects index{% endblock %}

{% block body %}
    <h1>Schoolsubjects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schoolsubject in schoolsubjects %}
            <tr>
                <td>{{ schoolsubject.id }}</td>
                <td>{{ schoolsubject.name }}</td>
                <td>
                    <a href="{{ path('schoolsubjects_show', {'id': schoolsubject.id}) }}">show</a>
                    <a href="{{ path('schoolsubjects_edit', {'id': schoolsubject.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('schoolsubjects_new') }}">Create new</a>
{% endblock %}
