{% extends 'base.html.twig' %}

{% block title %}SchoolNotes{% endblock %}

{% block body %}
    <h1>SchoolNotes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school_note.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ school_note.note }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ school_note.coefficient }}</td>
            </tr>
            <tr>
                <th>Dated</th>
                <td>{{ school_note.dated ? school_note.dated|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('school_notes_index') }}">back to list</a>

    <a href="{{ path('school_notes_edit', {'id': school_note.id}) }}">edit</a>

    {{ include('school_notes/_delete_form.html.twig') }}
{% endblock %}
